* {
    font-family: Garamond;
    text-align: center;
}

body {
    margin: 0;
}

main {
    display: flex;
}

#prawy {
    background-color: #7700ff;
    width: 89%;
    display: flex;
    flex-direction: column;
}

#prawy1 {
    background-color: #2a0077;
    font-size: 140%;
}

#prawy2 {
    background-color: rgb(79, 0, 170);
    height: 420px;
}

#lewy {
    background-color: rgba(76, 0, 255, 0.719);
    display: flex;
    flex-direction: column;
    width: 32%;
}

#lewy1,
#lewy2 {
    background-color: #1100ff;
    color: #0fbfeb;
    height: 420px;
}

#xddd {
    background-color: #bb00bb;
    color: white;
    padding: 150px;
}